In [1]:
import pathlib
import sys
import os

# Hacky way to get to root package
if "notebooks" in os.getcwd():
    os.chdir("..")

In [2]:
%load_ext autoreload
%autoreload 2
    
import sys
from data_container import load_scouted_data
import pandas as pd
pd.set_option('display.max_columns', None)

In [3]:
scouted_data = load_scouted_data()
scouted_data

        Scouter Initials Match Number Team Number  No Show  Auto Fuel  \
abc 1               1678         True          14     True         15
    1               3504         True          10    False          0
    1               8393         True           0    False          0
    1                118         True          16     True         15
    1                254         True           2    False          0
    1                 67         True           1     True         15
    2               8393         True           6     True         15
    2               2056         True           7    False          0
    2                118        False          15     True         15
    2               3504         True          30     True         15
    2               1678         True          13    False          0
    2                 67         True           4    False          0
    3               2056        False          11     True         15
    3               4467         True           9     True         15
    3                118         True           6    False          0
    3                 67         True          12     True         15
    3               3504         True          26    False          0
    3               1678         True           1     True         15
    4               1678         True           6     True         15
    4               4467         True           1    False          0
    4                254         True           5    False          0
    4               3504         True          19     True         15
    4               8393         True           5     True         15
    4                 67         True           6    False          0
    5               4467         True           0     True         15
    5               3504         True          20     True         15
    5                254         True           7    False          0
    5               1678        False           4    False          0
    5               8393         True          11    False          0
    5                118         True           9     True         15
    6                 67        False           6    False          0
    6                254         True          12     True         15
    6               4467         True           0     True         15
    6               8393         True          13    False          0
    6               3504         True          18    False          0
    6               2056         True           8     True         15
    7                118         True          15    False          0
    7               1678         True          11    False          0
    7               4467         True          14    False          0
    7               8393         True           9     True         15
    7               2056         True          16     True         15
    7               3504         True          17    False          0
    8                254         True           4    False          0
    8               3504         True          27    False          0
    8               4467        False          16     True         15
    8                 67        False           5    False          0
    8               8393         True           2    False          0
    8                118         True           2     True         15
    9                254         True           3     True         15
    9               1678         True           3    False          0
    9               2056         True           2     True         15
    9               8393         True          15    False          0
    9               4467         True           3    False          0
    9                 67         True          13     True         15
    10              3504         True          15     True         15
    10              1678         True           9    False          0
    10               118        False          15     True         15
    10               254         True          12    False          0
    10              2056         True          11    False          0
    10              8393        False           0     True         15

        Auto Climbing Status  Auto Climbing ScoreTeleop Fuel  \
abc 1                     12                              49
    1                     10                              83
    1                      5                             126
    1                      9                             100
    1                      4                              87
    1                      4                              82
    2                     15                             116
    2                     10                             190
    2                      7                             144
    2                      3                              62
    2                      3                             138
    2                      0                             183
    3                      9                              73
    3                     10                              11
    3                     13                             192
    3                      5                             146
    3                      7                             166
    3                      5                             119
    4                      6                              30
    4                     10                              33
    4                     12                             121
    4                     14                              96
    4                      4                              25
    4                     10                              72
    5                      5                             200
    5                     10                              44
    5                     15                             126
    5                      1                             132
    5                     15                               2
    5                      2                             188
    6                      4                              49
    6                      6                             156
    6                     15                             145
    6                      3                             166
    6                      2                              45
    6                      3                              75
    7                     10                              46
    7                      8                             179
    7                      0                             113
    7                     14                              70
    7                      8                              75
    7                     10                              92
    8                      8                             110
    8                      1                               9
    8                     12                             110
    8                      9                             192
    8                     15                              68
    8                      1                              82
    9                      0                              91
    9                     11                              34
    9                     11                              86
    9                      3                              14
    9                     15                             128
    9                      5                             131
    10                     3                              19
    10                     1                              59
    10                    10                             174
    10                     8                             170
    10                     3                             170
    10                    15                              12

       Endgame Climbing Level  Endgame Climbing Score
abc 1                     NaN                       0
    1                     NaN                       0
    1                      L2                       0
    1                      L2                       0
    1                      L3                       0
    1                      L2                       0
    2                      L1                       0
    2                     NaN                       0
    2                      L1                       0
    2                      L2                       0
    2                      L3                       0
    2                      L2                       0
    3                      L1                       0
    3                      L1                       0
    3                      L1                       0
    3                      L1                       0
    3                     NaN                       0
    3                      L3                       0
    4                     NaN                       0
    4                     NaN                       0
    4                      L3                       0
    4                      L3                       0
    4                      L3                       0
    4                      L2                       0
    5                      L3                       0
    5                      L3                       0
    5                      L2                       0
    5                      L3                       0
    5                      L3                       0
    5                      L1                       0
    6                     NaN                       0
    6                      L1                       0
    6                     NaN                       0
    6                      L3                       0
    6                     NaN                       0
    6                     NaN                       0
    7                      L2                       0
    7                      L3                       0
    7                      L1                       0
    7                     NaN                       0
    7                      L1                       0
    7                      L2                       0
    8                      L3                       0
    8                     NaN                       0
    8                      L2                       0
    8                      L1                       0
    8                      L1                       0
    8                     NaN                       0
    9                      L1                       0
    9                      L1                       0
    9                      L2                       0
    9                      L1                       0
    9                      L3                       0
    9                     NaN                       0
    10                    NaN                       0
    10                     L1                       0
    10                     L2                       0
    10                     L1                       0
    10                     L2                       0
    10                     L2                       0

In [4]:
pit_data = load_pit_data()
pit_data

NameError: name 'load_pit_data' is not defined

In [ ]:
teleop_fuel_passed_df = scouted_data.groupby("Team Number")["Teleop Fuel Passed"].sum().reset_index()
fig = px.bar(teleop_fuel_passed_df, x="Team Number", y="Teleop Fuel Passed", title="Total Teleop Fuel Passed", 
             labels={"Total Teleop Fuel Passed": "total fuel passed"})
fig.show()

In [ ]:
teleop_fuel_passed_df = scouted_data.groupby("Team Number")["Teleop Fuel Passed"].mean().reset_index()
fig = px.bar(teleop_fuel_passed_df, x="Team Number", y="Teleop Fuel Passed", title="Average Teleop Fuel Passed", 
             labels={"Total Teleop Fuel Passed": "total fuel passed"})
fig.show()